/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #51838b;
    color: #b93939;
    line-height: 1.6;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #e2dfdf;
}

header p {
    font-size: 1.2rem;
    color: #fdf5f5;
}

section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #416ec0;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    color: #416ec0;
}

ul {
    list-style-type: square;
    margin-left: 20px;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    color: #418533;
}
